{% extends 'base_layout.html' %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<!--Form Container-->
<div class="container">
  {% if patient_list %}
    <table class="table table-striped">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Last Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Birthday</th>
      </tr>
    {% for patient in patient_list.all %}
      <tr>
        <td>{{patient.first_name}}</td>
        <td>{{patient.nickname}}</td>
        <td>{{patient.last_name}}</td>
        <td>{{patient.sex}}</td>
        <td>{{patient.date_of_birth}}</td>
        <td><a href="{% url 'patientRecords:existing_checkin' patient.id %}" class="btn btn-primary">Start</a></td>
      </tr>
    {%  endfor %}
    </table>
  {% else %}
    <p>No patients available</p>
  {% endif %}
</div>

<script>
  $(function () {
    $(".datepicker").datepicker({
      changeMonth: true,
      changeYear: true,
      changeDay: true,
      yearRange: "1900:2012",

    });
  });
</script>

{% endblock %}
